<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yicao.pmiapi.mapper.AreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yicao.pmiapi.pojo.Area">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="des" property="des" />
        <result column="leader" property="leader" />
        <result column="build_number" property="buildNumber" />
        <result column="complete_date" property="completeDate" />
        <result column="covered_area" property="coveredArea" />
        <result column="house_number" property="houseNumber" />
        <result column="family_number" property="familyNumber" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, des, leader, build_number, complete_date, covered_area, house_number, family_number, remark
    </sql>

</mapper>
