<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yicao.pmiapi.mapper.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yicao.pmiapi.pojo.Member">
        <id column="id" property="id" />
        <result column="family_id" property="familyId" />
        <result column="name" property="name" />
        <result column="birthday" property="birthday" />
        <result column="gender" property="gender" />
        <result column="native_place" property="nativePlace" />
        <result column="occupation" property="occupation" />
        <result column="employer" property="employer" />
        <result column="phone" property="phone" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, family_id, name, birthday, gender, native_place, occupation, employer, phone, remark
    </sql>

</mapper>
