<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yicao.pmiapi.mapper.WorkerFamilyAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yicao.pmiapi.pojo.WorkerFamilyAccount">
        <id column="id" property="id" />
        <result column="account_id" property="accountId" />
        <result column="worker_id" property="workerId" />
        <result column="family_id" property="familyId" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account_id, worker_id, family_id, type
    </sql>

</mapper>
